<?xml version="1.0" encoding="UTF-8"?>
<!--
/* (c) 2014 Open Source Geospatial Foundation - all rights reserved
 * This code is licensed under the GPL 2.0 license, available at the root
 * application directory.
 */


-->

<config>

    <profile name="Base">
        <property name="measure" type="bool">
            <description lang="it">Strumento di misura</description>
            <default>false</default>
        </property>

        <property name="double_map_enabled" type="bool">
            <description lang="it">Abilita mappa doppia</description>
            <default>false</default>
        </property>

        <property name="double_map_active" type="bool">
            <description lang="it">Attiva la mappa doppia</description>
            <default>false</default>
            <depends>
                <equals>
                    <property>double_map_enabled</property>
                    <value>false</value>
                </equals>
            </depends>


            <depends on="double_map_enabled">
            </depends>
        </property>

        <property>
              <propertyName>measure</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>info</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>info_multiple</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>sld_tool</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>wms_server</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>csw_server</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>double_map</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>KML_tool</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>ortofoto_selector_tool</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>date_filter_tool</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>spatial_analysis_tool</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>edit_tool</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>share_tool</propertyName>
              <value>0|1</value>
        </property>
    </profile>

    <profile name="Advanced">
        <property>
              <propertyName>adv_test_1</propertyName>
              <value>0|1</value>
        </property>
        <property>
              <propertyName>adv_test_2</propertyName>
              <value>0|1</value>
        </property>
    </profile>
    
</config>
