<!--
/* (c) 2014-2016 Open Source Geospatial Foundation - all rights reserved
 * This code is licensed under the GPL 2.0 license, available at the root
 * application directory.
 */
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"

       xsi:schemaLocation="
            http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://cxf.apache.org/jaxws                     http://cxf.apache.org/schemas/jaxws.xsd
            http://cxf.apache.org/jaxrs                     http://cxf.apache.org/schemas/jaxrs.xsd
            http://cxf.apache.org/core                      http://cxf.apache.org/schemas/core.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd"

       default-autowire="byName">

   <!-- === CXF ======================================================== -->

    <!-- Load CXF modules from cxf.jar -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <!-- ====================================================================-->
    <!-- === Service providers ==============================================-->
    <!-- ====================================================================-->

    <bean id="restUserService" class="org.geoserver.geofence.services.rest.impl.RESTUserServiceImpl">
    </bean>

    <bean id="restUserGroupService" class="org.geoserver.geofence.services.rest.impl.RESTUserGroupServiceImpl">
    </bean>

    <bean id="restInstanceService" class="org.geoserver.geofence.services.rest.impl.RESTInstanceServiceImpl">
    </bean>

    <bean id="restRuleService" class="org.geoserver.geofence.services.rest.impl.RESTRuleServiceImpl">
    </bean>

    <bean id="restAdminRuleService" class="org.geoserver.geofence.services.rest.impl.RESTAdminRuleServiceImpl">
    </bean>

    <bean id="restBatchService" class="org.geoserver.geofence.services.rest.impl.RESTBatchServiceImpl">
    </bean>

    <bean id="restConfigService" class="org.geoserver.geofence.services.rest.impl.RESTConfigServiceImpl">
    </bean>

    <!-- ====================================================================-->


    <bean id="instanceCleaner" class="org.geoserver.geofence.services.rest.utils.InstanceCleaner">
    </bean>


    <!-- ====================================================================-->
    <!-- === REST Services ==================================================-->
    <!-- ====================================================================-->

    <jaxrs:server id="geofenceRESTUser" address="/users">
        <jaxrs:serviceBeans>
          <ref bean="restUserService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

    </jaxrs:server>

    <jaxrs:server id="geofenceRESTUserGroup" address="/groups">
        <jaxrs:serviceBeans>
          <ref bean="restUserGroupService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
           <ref bean="jaxbXmlProvider"/>
           <ref bean="jsonProvider"/>
        </jaxrs:providers>

        <jaxrs:inInterceptors>
        </jaxrs:inInterceptors>
    </jaxrs:server>

    <jaxrs:server id="geofenceRESTInstances" address="/instances">
        <jaxrs:serviceBeans>
          <ref bean="restInstanceService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
           <ref bean="jaxbXmlProvider"/>
           <ref bean="jsonProvider"/>
        </jaxrs:providers>

        <jaxrs:inInterceptors>
        </jaxrs:inInterceptors>
    </jaxrs:server>

    <jaxrs:server id="geofenceRESTRules" address="/rules">
        <jaxrs:serviceBeans>
          <ref bean="restRuleService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
           <ref bean="jaxbXmlProvider"/>
           <ref bean="jsonProvider"/>
        </jaxrs:providers>

        <jaxrs:inInterceptors>
        </jaxrs:inInterceptors>
    </jaxrs:server>

    <jaxrs:server id="geofenceRESTAdminRules" address="/adminrules">
        <jaxrs:serviceBeans>
          <ref bean="restAdminRuleService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
           <ref bean="jaxbXmlProvider"/>
           <ref bean="jsonProvider"/>
        </jaxrs:providers>

    </jaxrs:server>

    <jaxrs:server id="geofenceRESTConfig" address="/config">
        <jaxrs:serviceBeans>
          <ref bean="restConfigService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
           <ref bean="jaxbXmlProvider"/>
           <ref bean="jsonProvider"/>
        </jaxrs:providers>

    </jaxrs:server>

    <jaxrs:server id="geofenceRESTBatch" address="/batch">
        <jaxrs:serviceBeans>
          <ref bean="restBatchService"/>
        </jaxrs:serviceBeans>

        <jaxrs:features>
             <cxf:logging/>
        </jaxrs:features>

        <jaxrs:providers>
           <ref bean="jaxbXmlProvider"/>
        </jaxrs:providers>

    </jaxrs:server>

    <!-- ====================================================================-->
    <!-- === CXF Providers ==================================================-->
    <!-- ====================================================================-->

    <bean id="jaxbXmlProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider"/>
    
    <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/>

    <!-- ====================================================================-->
    <!-- === CXF Interceptors ===============================================-->
    <!-- ====================================================================-->

</beans>