<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:/applicationContext-common.xml
            classpath:applicationContext-client.xml
            classpath*:applicationContext.xml
        </param-value>
	</context-param>

	<!-- Log4j configuration -->
	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>log4j.xml</param-value>
	</context-param>

    <context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>

    <listener>
        <listener-class>org.apache.logging.log4j.core.web.Log4jContextListener</listener-class>
    </listener>

	<!-- spring context loader -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<!-- CUSOM Authentication Filter -->
    <filter>
     <filter-name>Georepository CUSTOM security filter</filter-name>
     <filter-class>org.geoserver.geofence.gui.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>Georepository CUSTOM security filter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Standard Context -->
	<servlet>
		<servlet-name>ConfigurationRemote</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.gwt.ConfigurationRemoteImpl</servlet-class>
		<load-on-startup>1</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigurationRemote</servlet-name>
		<url-pattern>/geofence/ConfigurationRemote</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginRemoteService</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.gwt.LoginRemoteServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginRemoteService</servlet-name>
		<url-pattern>/geofence/LoginRemoteService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class> 
	</servlet> 
	<servlet-mapping> 
	    <servlet-name>remoteLoggingServiceImpl</servlet-name> 
	    <url-pattern>/geofence/logging</url-pattern> 
	</servlet-mapping>

	<!-- *****************************************************************************************  -->
	<!-- **                                TAB WIDGETS                                          **  -->
	<!-- *****************************************************************************************  -->
	<servlet>
		<servlet-name>GsUsersManagerRemoteService</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.gwt.GsUsersManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GsUsersManagerRemoteService</servlet-name>
		<url-pattern>/geofence/GsUsersManagerRemoteService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfilesManagerRemoteService</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.gwt.ProfilesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfilesManagerRemoteService</servlet-name>
		<url-pattern>/geofence/ProfilesManagerRemoteService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InstancesManagerRemoteService</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.gwt.InstancesManagerRemoteServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InstancesManagerRemoteService</servlet-name>
		<url-pattern>/geofence/InstancesManagerRemoteService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RulesManagerRemoteService</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.gwt.RulesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RulesManagerRemoteService</servlet-name>
		<url-pattern>/geofence/RulesManagerRemoteService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WorkspacesManagerRemoteService</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.gwt.WorkspacesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkspacesManagerRemoteService</servlet-name>
		<url-pattern>/geofence/WorkspacesManagerRemoteService</url-pattern>
	</servlet-mapping>
	
	<!-- *****************************************************************************************  -->
	<!-- **                                DISPATCHER                                           **  -->
	<!-- *****************************************************************************************  -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>org.geoserver.geofence.gui.server.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/geofence/upload</url-pattern>
	</servlet-mapping>

	<!-- Open proxy to circumvent cross-domain XmlHTTPRequest restrictions.
-->
	<servlet>
		<servlet-name>GwtOpenlayersProxy</servlet-name>
		<servlet-class>
			org.gwtopenmaps.openlayers.server.GwtOpenLayersProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GwtOpenlayersProxy</servlet-name>
		<url-pattern>/gwtOpenLayersProxy/*</url-pattern>
	</servlet-mapping>

	<!-- CXF Servlet -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

    <!-- Spring remoting -->
    <servlet>
        <servlet-name>remoting</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>remoting</servlet-name>
        <url-pattern>/remoting/*</url-pattern>
    </servlet-mapping>
    
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>

</web-app>
