<?xml version="1.0" encoding="UTF-8"?>
<!--
/* (c) 2014 Open Source Geospatial Foundation - all rights reserved
 * This code is licensed under the GPL 2.0 license, available at the root
 * application directory.
 */


-->

<configuration>

    <properties>
        <property name="geofence_logpath">logs/</property>
    </properties>

    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </Console>

<!--        <RollingFile name="R"
                 fileName="${sys:geofence_logpath}/geofence.log"
                 filePattern="${sys:geofence_logpath}/$${date:yyyy-MM}/geofence-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ABSOLUTE} %5p %c{1}:%L - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile> -->
    </appenders>
  
    <!-- 
        <logger name="org.hibernate">
            <level value="debug"/>
            <appender-ref ref="R"/>
        </logger>
    -->

    <loggers>
        <logger name="org.geoserver.geofence" level="debug">
            <!--<appender-ref ref="R"/>-->
        </logger>

        <root level="info">
            <appender-ref ref="STDOUT" />
            <!--<appender-ref ref="R" />-->
        </root>
    </loggers>
</configuration>
